$black: #111;
$white: #fefefe;

$dark: #262833;
$gray: #4a4f52;
$primary: #7e8ce0;
$danger: #ffa48e;
$success: #4afcaf;
$warning: #feaf60;
$info: #36c7d0;

$light-gray: #f0f2f5;
$light-primary: lighten($primary, 10);
$light-danger: lighten($danger, 10);
$light-success: lighten($success, 10);
$light-success: lighten($success, 10);
$light-success: lighten($success, 10);
$light-info: lighten($info, 10);
