@import './scss/index';

#app {
  width: $app-width;
  height: $app-height;
  color: $white;
  background-color: rgba($dark-primary , .8);
}

.box {
  position: relative;
  left: 50%;
  float: left;
}

.circle {
  position: relative;
  left: -50%;
  float: left;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: #6441a4;
  border-radius: 50px;
  transition: background-color 0.5s ease;
}
