#box {
  float: left;
  position: relative;
  left: 50%;
}

#circle {
  border-radius: 50px;
  transition: background-color 0.5s ease;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: #6441a4;
  float: left;
  position: relative;
  left: -50%;
}