@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import '~react-flags-select/css/react-flags-select.css';
@import './scss/index';

body {
  margin: 0;
  padding: 0;
  width: 318px;
  height: 496px;
  font-family: $global-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  background-color: $dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
